.place-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 90%;
    max-width: 40rem;
  }

  .w-fit-center {
    width: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}